body{
    padding: 20px 0;
    margin: 0;
}

#cards-container {
    width: 600px;
    margin: 0 auto;
}

.card {
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.card:hover{
    background-color: #fafafa;
}

h2 {
    font-size: 24px;
    color: #333333;
    width: 450px;
    margin: 0 0 15px;
    font-weight: 300;
}

p {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
}

.authorInfo{
    font-size: 16px;
    margin-bottom: 10px;
}

.authorName{
    color: #000;
    font-weight: 700;
}

.authorEmail{
    color: #666666;
    margin-left: 5px;
}

.deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.deleteButton:hover {
    background-color: #0056b3;
}

#modal{
    display: none;
    position: fixed;
    width: 300px;
    height: 200px;
    top: 50px;
    left: calc(50% - 150px);
    z-index: 10;
    background-color: #fafafa;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

#addPublicationBtn{
    position: absolute;
    top: 15px;
    left: 15px;
}

#createPublicationBtn, #addPublicationBtn{
    padding: 5px 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#createPublicationBtn:hover, #addPublicationBtn:hover {
    background-color: #0056b3;
}

#back{
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 7;
}

textarea{
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
}